{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Outer Space</h1>
  <p>A look at the "space" surrounding Earth</p>
  <h2>Space loop</h2>
  <p>This loops through data that came from Space.</p>
  <div class="row">
    {% for outerspace in space.outerspace %}
      <div class="col">
        <img src="img/{{ outerspace.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="outerspace/{{ outerspace.slug }}.html">{{ outerspace.name }}</a></h3>
        <p> {{outerspace.description}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}